@import "base.css";
body{
    background-color: #060000;
}
.section {
    font-size: 60px;
}
#menu {
    width: 100%;
    height: 89px;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    background: rgba(0,0,0,0.6);
    z-index:9999;
}
.qu{
    width: 1246px;
    height: 27px;
    margin: 0 auto;
    margin-top: 27px;
    padding: 5px;
}
.qu .logo{
    width: 100px;
    height: 100%;
    float: left;
}
.qu  ul {
    width: 600px;
    display: flex;
    justify-content: space-around;
    float: right;
}
#menu li{
    width:100px;
    text-align: center;
}
#menu li.active{
    background: #cc838e;
}
#menu a{
    color:#8CB7B7;
    font-size:16px;
    line-height:30px;
}
#menu a:hover{
    color: #fff;
}
#menu a.active{
    color: #fff;
}
.two-left{
    width:50%;
    height:100%;
    background:#000;
    float:left;
    transform:translateX(-1000px);
    transition:.5s all;
    overflow: hidden;
    position: relative;
}
.two-left h2,.two-right h2{
    font-size: 36px;
    color: #ffffff;
    margin-top: 83px;
}
.two-left h2{
    float: right;
}
.two-left p,.two-right p{
    font-size: 18px;
    color: #fff;
}
.two-left p{
    position: absolute;
    right: 0;
    top:130px;
    font-size: 18px;
    z-index: 999;
}
.two-right{
    width:50%;
    height:100%;
    background: #000;
    float:left;
    transform:translateX(1000px);
    transition:.5s all;
    position: relative;
}
.two-right h3{
    font-size: 36px;
    color: #fff;
    margin-left: 20px;
}

.swiper-container{
    /*width: 1366px;*/
    height: 100%;
    height: 100%;
    /*background: #ff41de;*/
    position: relative;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-slide img{
    /*width: 1366px;*/
    /*height: 662px;*/
    width: 105%;
    height: 100%;
    display: block;
}
.swiper-next,.swiper-prev{
    width: 27px;
    height: 44px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top:auto ;
    margin-bottom: auto;
    color: #fff ;
    text-align: center;
    line-height: 44px;
    font-size: 60px;
    z-index: 999;
}
.swiper-next{
    right: 33px;
}
.swiper-prev{
    left: 10px;
    margin-left: 0;
}
.swiper-slide h2,.swiper-slide p{
    font-size: 30px;
    color: #fff;
    position: absolute;
}
.swiper-slide h2{
    top: 200px;
    left: 35vw;
}
.swiper-slide p{
    top: 280px;
    left: 30vw;
}
.pl{
    /*width: 555px;*/
    /*height: 344px;*/
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    right: 40px;
    /*background: #333333;*/
}
.lp{
    position: absolute;
    left: 10px;
    top: 32%;
    height: 80%;
}
.pl img{
    width: 88%;
    height: 50%;
    display: block;
}
.lp h3{
    font-size: 36px;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
}
.lp  span{
    font-size:18px;
    color: #fff;
    margin-left: 10px;
    line-height: 50px;
    display: block;
    padding-right: 35px;
    margin-top: 20px;
}


/*第五屏*/
.ta{
    width: 100%;
    /*height: 468px;*/
    height: 100%;
    padding: 110px 0;
    background: rgba(0,0,0,0.6);
}
.container{
    width: 1170px;
    height: 468px;
    margin: 0 auto;
}
.container .muxu{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 56px;
}
.muxu h1{
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.muxu p{
    font-size: 18px;
    color:  #fff;
    line-height: 22px;
    text-align: center;
}
.row{
    width: 1170px;
    height: 321px;
    position: relative;
}
.row .row_left{
    width: 752px;
    height: 100%;
    float: left;
}

#fc{
    width:100%;
    height: 50px;
}
#fb{
    width:100%;
    height: 50px;
}
#fc,#fb{
    border: none;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    display: block;
}
textarea{
    border: none;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
}
textarea:focus{
    outline: none;
}
input:focus{
    outline: none;
}
textarea{
    width: 100%;
    height: 166px;
}
#fn{
    display: block;
    width:124px;
    height: 45px;
    background: #1A1A1A;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 0;
    border: none;
}
.row_right{
    width: 390px;
    height: 270px;
    float: right;
}
.hans{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.hans .hang{
    width:360px;
    height: 60%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}
.hang .fax{
    width:60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.fax i{
    font-size:36px; 
    color:#fff;
    display: block;
}
.hang p{
    font-size: 16px;
    color: #fff;
}
.spq,.set{
    width: 100%;
    height: 100%;
    background: url("../img/094343f4oyq4o89z1u9ffz.jpg") center/cover;
    overflow: hidden;
}
.set{
    width: 100%;
    height: 100%;
    background: url("../img/bg1.png") center/cover;
}
.ops{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
}
.scene{
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0);
    perspective:1000px;
    transform-style:preserve-3d;
    margin-top: 90px;

}
.scene ul{
    padding: 0;
    list-style: none;
    width: 300px;
    height: 300px;
    margin: 150px 200px;
    /*background: #ccc;*/
    transform-style:preserve-3d;
    transition: all 0.5s;
    transform-origin: center center -300px;
    position: relative;
    transform: scale(0);
}
.scene ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    transform-origin: center center -300px;
    box-shadow: 0 0 10px 10px #fff;
}
.scene ul li:nth-child(1){
    background: #b2afb1;
    /*transform: translateY(-100px) rotateX(90deg);*/
    transform: rotateY(60deg);
}
.scene ul li:nth-child(2){
    background: greenyellow;
    /*transform: translateY(100px) rotateX(90deg);*/
    transform: rotateY(120deg);
}
.scene ul li:nth-child(3){
    background: yellow;
    /*transform: translateX(100px) rotateY(90deg);*/
    transform: rotateY(180deg);
}
.scene ul li:nth-child(4){
    background: green;
    /*transform: translateX(-100px) rotateY(-90deg);*/
    transform: rotateY(240deg);
}
.scene ul li:nth-child(5){
    background: #ff9900;
    /*transform: translateZ(100px);*/
    transform: rotateY(300deg);
}
.scene ul li:nth-child(6){
    background: blue;
    /*transform: translateZ(-100px) rotateY(180deg) ;*/
    transform: rotateY(360deg);
}
/*.scene:hover ul{*/
/*transform: rotate3d(1,1,1,360deg);*/
/*}*/
.next,.prev{
    width: 50px;
    height: 50px;
    position: absolute;
    border:1px solid red;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.next{
    right: -20px;
}
.prev{
    left: -20px;
}
.xiamu{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /*background: #F3F3F4;*/
    margin: 0 auto;
    z-index: 999;
    transition: all 1s;
    transform:translateY(-500px);
}
.xiamu h1{
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.xiamu p{
    font-size: 18px;
    color:  #fff;
    line-height: 22px;
    text-align: center;
}



.neib{
    width: 300px;
    height: 300px;
    background: green;
    margin-bottom: 15px;
    display: block;
    position: relative;
}
.neib .xu{
    width: 100%;
    height: 100%;
    display: block;
}
.neib .zheb{
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
    transform: scale(0);
}
.neib:hover .zheb{
    transform: scale(1);
    transition: all 1s;
}
.zheb .dak{
    width: 300px;
    height: 117px;
     /*background: blue;*/
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.dak .qq{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.dak .yuan{
    width: 30px;
    height: 30px;
    background:#aaaaaa;
    line-height: 30px;
    border-radius: 50%;
}
.yuan:hover{
    background: #1afaed;
}

.dak .yuan:nth-child(2){
    margin-left: 14px;
}
.yuan i{
    font-size: 14px;
    color: #444a4f;
    text-align: center;
    display: block;
}
.dak h2{
    font-size: 18px;
    color: #e1dedd;
    text-align: center;
    line-height: 18px;
    margin-bottom: 5px;
}
.dak p{
    font-size: 12px;
    color: #e1dedd;
    text-align: center;
    line-height: 12px;
    margin-bottom: 46px;
}
.cd{
    width: 100%;
    height: 100%;
    background: url("../img/1295829359304z318hn37kb.jpg") center/cover;
    overflow: hidden;
}
.jie{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 30px;
}
.jie h1{
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.jie p{
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    text-align: center;
    margin-left: 80px;
    margin-top: -130px;
}
.item{
    /*background: #F3F3F4;*/
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
}
.item .web{
    width: 360px;
    height: 218px;
    /*background: #fff;*/
    background: rgba(0,0,0,0.6);
    float: left;
    transition:all 0.3s;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.item .web:before,.item .web:after{
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scale(1, 0);
    transform-origin: 100% 0;
}
.item .web:before{
    opacity: 0;
    transition: all .35s linear;
    z-index: 999;
}
.item .web:after{
    opacity: 0;
    transition: all .35s linear;
    z-index: 999;
}
.item .web img{
    width: 100%;
    height: 248px;
    opacity: .7;
    transform: translateY(-30px);
    transition: all .35s linear;
}
.item .web:hover :before,.item .web:hover  :after{
    opacity: 1;
    transform: scale(1);
}
.item .web:hover img{
    transform: translateY(0);
}
.item .web:hover h4{
    transform: translateY(30px);
}
.item .web:hover p{
    opacity: 1;
}
.item .web:hover{
    box-shadow: 0px 4px 16px 0px #808080;
}
.web .mc{
    font-size:32px;
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 43px;

}
.web h4{
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    z-index: 999;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    transition: all .35s linear;
    margin: -5px 0;
}
.web p{
    width: 160px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    color: #fff;
    text-align: left;
    opacity: 0;
    transition: all .35s linear;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.rw{
    width: 100%;
    height: 100%;
    background: url("../img/2122530ltjujxlwrjtult3.jpg") center/cover;
    overflow: hidden;
}